*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
body{
background:#0f172a;
color:white;
overflow-x:hidden;
}
.navbar{
position:fixed;
top:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
z-index:1000;
}
.logo{
font-size:1.8rem;
font-weight:700;
color:#38bdf8;
}
.nav-links{
display:flex;
gap:25px;
list-style:none;
}
.nav-links a{
color:white;
text-decoration:none;
transition:.3s;
}
.nav-links a:hover{
color:#38bdf8;
}
.btn{
padding:10px 25px;
border:none;
background:#38bdf8;
color:white;
border-radius:30px;
cursor:pointer;
}
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da");
background-size:cover;
background-position:center;
}
.hero-content h1{
font-size:4rem;
margin-bottom:20px;
}
.hero-content p{
font-size:1.2rem;
margin-bottom:30px;
}
.search-box{
display:flex;
justify-content:center;
gap:10px;
}
.search-box input{
width:350px;
padding:15px;
border:none;
border-radius:50px;
}
.search-box button{
padding:15px 30px;
border:none;
background:#38bdf8;
color:white;
border-radius:50px;
cursor:pointer;
}
.categories{
padding:100px 10%;
}

.categories h2{
text-align:center;
margin-bottom:50px;
font-size:2.5rem;
}
.category-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}
.card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);
padding:40px;
border-radius:20px;
text-align:center;
transition:.4s;
}
.card:hover{
transform:translateY(-10px);
background:#38bdf8;
}
.books{
padding:100px 10%;
}



